@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

/* resuable font and more */

    $main-font: 'Baloo Paaji 2', cursive;
    $second-font:'Special Elite', cursive;
    $fallback-font: Arial, Helvetica, sans-serif;
    $footer-color:#000000;
    $highlighted-section-color:#bdc3c7;
    $button-color: #e67e22;
    $optional-color:#1abc9c;
    $navbar-color:#2980b9;
    $main-textcolor:#000000;
    $secondary-textcolor:#ffffff;

    @mixin box-shadow-for-section(){

    }
    @mixin background-images($c){
        background-image: url($c);
        background-repeat: no-repeat;
        background-position: center;
    }

/* End resuable variable declaration */

/* General functional attribute */

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    color:$main-textcolor;
}
/*styling section2 */
    /*visiting info*/
      .video{
            z-index: -1;
            position: absolute;
            bottom: 0;
            top: 0;
        }
    nav{
        z-index: 1;
    }
    


/*styling section2 */

    /*visiting info*/

    .adress{
        width:20%;
        @include background-images("cpim\img\mark1.jpg");
    }